.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}
.ReactModalPortal .ReactModal__Overlay--after-close {
    opacity: 0;
}

.modal {
    background: $brand-body;
    color: #fff;
    max-width: 30rem;
    outline: none;
    padding: $lg-size;
    text-align: center;
}

.model__title {
    margin: 0 0 $md-size 0;
}
.model__body {
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 $lg-size 0;
    word-break: break-all;
}